$theme-1: #EAB543;
$theme-2: #000;
$theme-3: #2d3436;

$theme-1a: #f39d12ce;

$theme-1b: #f39d1280;

$black: #24292ad3;

$facebook: #4267B2;
$twitter: #1DA1F2;
$pinterest: #E60023;
$instagram: #bc2a8d;
$linkedin: #0077b5;
$youtube: #FF0000;
$whatsapp: #25D366;
$github: #171515;
